.login{
  display: grid;
  grid-template-columns: 35% 30% 35%;
  text-align: center;
  height: 970px;

  background-image: url("./background.jpg");
  background-size: cover;
}

.card{
  max-width: 400px;
  background-size: cover;
}

.form-group{
  text-align: left;
  align-items: flex-start;
  margin-top: 2%;
}

.submit{
  margin-top: 7%
}

.input{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  height:40px;
}

.form{
  margin-top: 12%;
  margin-bottom: 50%
}
.label{
  font-size: 15px;
}
